# IntelliJ
.idea
.idea/*
*.iml
.idea/workspace.xml

# Mac OS X
.DS_Store

.classpath
.project
.settings
.gradle
gradle.properties

build/
core/build/
debug/build/
experimental/build/
extensions/build/
gradle/wrapper/gradle-wrapper.properties

oxstore/

bin/
core/bin
debug/bin
experimental/bin
extensions/bin

target/
.metadata

cmd.ipr
cmd.iws

